C:\Users\HP\Desktop\Phase_2_Project_Group_1\im_temp
C:\Users\HP\Desktop\Phase_2_Project_Group_1\imdb
C:\Users\HP\Desktop\Phase_2_Project_Group_1\unzipped
imdb/
unzipped/

C:\Users\HP\Desktop\Phase_2_Project_Group_1\im.db
im.db